@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
Hacky workaround to get borders with a border radius
@layer is required to allow branch shaking
*/
@layer utilities {
  .pretty-border {
    background: linear-gradient(rgb(15 23 42), rgb(15 23 42)) padding-box, linear-gradient(to right, var(--tw-gradient-stops)) border-box;
    border: 4px solid transparent;
  }
}